<% title "VEDAVAAG | Users" %>
<h3>Users | Profile | Change Password</h3>
<div class="help_text">
  Area for Change the Password. <br/>
</div>
<div class="form-container">
  <p class="legend">
    <strong>Note:</strong>
    Required fields are marked with an asterisk (<em>*</em>)
  </p>
  <%= form_tag '/users/password_change', :remote => true do %>
      <fieldset>
        <table>
          <tr>
            <td><label>Current Password<em>*</em></label></td>
            <td><%= password_field_tag 'old_password', @old_password, :class => 'formTextBox tipTipRight', :title => "Enter Old Password" %></td>
          </tr>
          <tr>
            <td><label>New Password<em>*</em></label></td>
            <td><%= password_field_tag 'password', '', :class => 'formTextBox tipTipRight', :title => "Enter New Password.<br/>For more secure use combination of Characters and Numbers" %></td>
          </tr>
          <tr>
            <td><label>Confirm New Password<em>*</em></label></td>
            <td><%= password_field_tag 'password_confirmation', '', :class => 'formTextBox tipTipRight', :title => "Confirm New Password." %></td>
          </tr>
          <tr>&nbsp;</tr>
          <tr>
            <td colspan="2" align="center"><%= submit_tag 'Change Password', :class => "btnEdit" %></td>
          </tr>
        </table>
      </fieldset>
  <% end %>
  <br/>
  <%= link_to content_tag(:span, 'Back to Profile'), profile_user_path(current_user), :class => 'btn-blue' %>
  <br/>
</div>