<% title "VEDAVAAG | Users" %>
<h3>VEDAVAAG | Login Users | Manage Login Users</h3>

<% content_for :left_panel do %>
    <td valign="top" width="250"> <%= render 'common/search' %>
      <%= render 'recent' %> </td>
<% end %>
<div class="help_text">
  Area for managing Login Users. <br/>
  Along with creating, managing Login Users.
</div>
<div class="link_buttons">
  <%= link_to content_tag(:span, 'New Login'), new_user_path, :class => 'btn-blue' %>
</div>

<% if @users.blank? %>
    <div class="error_msg">
      OOPS!.. No Users are Found in the System..!
    </div>
<% else %>
    <table width="100%">
      <tr>
        <td align="right">
          <b><i>per page</i></b>
          <%= per_page %>| <%= page_entries_info @users %>
        </td>
      </tr>
    </table>
    <table class="tablesorter">
      <thead>
      <tr>
        <th>#</th>
        <th>Login</th>
        <th>Name</th>
        <th>Email</th>
        <th>Mobile</th>
        <th>Role</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <% i=1 %>
      <% @users.each do |user| %>
          <tr>
            <td><%= i %></td>
            <td><%= user.login %></td>
            <td><%= highlight(user.name, params[:search]) %></td>
            <td><%= user.email %></td>
            <td><%= user.mobile_number %></td>
            <td><%= get_role(user) %></td>
            <td>
              <%= link_for_show_pop(user) %>
            </td>
          </tr>
          <% i = i + 1 %>
      <% end %>
      </tbody>
    </table>
    <div class="flickr_pagination">
      <%= page_entries_info @users %> <%= will_paginate @users, :container => false %>
    </div>
<% end %>








