<% title "VEDAVAAG | User" %>
<div id="page_container">
  <div id="page_content">
    <div class="content">
      <h3>Users | Profile | View Profile</h3>

      <div class="help_text">
        Area for Profile Details. <br/>
        User can Update their Name, Mobile Numbers Only.
      </div>

      <table width="100%" border=0 cellspacing=1 cellpadding=3 class="listTable">
        <tr>
          <th width="20%">Login Name</th>
          <td><%= @user.login %></td>
        </tr>
        <tr>
          <th width="20%">Email</th>
          <td><%= @user.email %></td>
        </tr>
        <tr>
          <th width="20%">Name</th>
          <td><%= @user.name %></td>
        </tr>
        <tr>
          <th width="20%">Mobile</th>
          <td><%= @user.mobile_number %></td>
        </tr>
      </table>
    </div>
  </div>
  <br/>
  <%= link_to content_tag(:span, 'Update Profile'), update_profile_user_path(current_user), :class => 'btn-blue' %>
  <%= link_to content_tag(:span, 'Change Password'), change_password_user_path(current_user), :class => 'btn-blue' %>
</div>