<% title "VEDAVAAG | Requests" %>
<h3>VEDAVAAG | Requests | Manage Requests</h3>

<% content_for :left_panel do %>
    <td valign="top" width="250"> <%= render 'common/search' %>
      <%= render 'recent' %> </td>
<% end %>
<div class="help_text">
  Area for managing Request. <br/>
  Along with creating, managing Requests.<br/>
</div>
<div class="link_buttons">
  <%= link_to content_tag(:span, 'New Request'), new_transaction_path, :class => 'btn-blue' if has_role? :employee %>
  <%= link_to content_tag(:span, 'All Requests'), transactions_path, :class => 'btn-yellow' %>
</div>

<% if @transactions.blank? %>
    <div class="error_msg">
      OOPS!.. No Requests are Found in the System..!
    </div>
<% else %>
    <table width="100%">
      <tr>
        <td align="right">
          <b><i>per page</i></b>
          <%= per_page %>| <%= page_entries_info @transactions %>
        </td>
      </tr>
    </table>
    <table class="tablesorter">
      <thead>
      <tr>
        <th>#</th>
        <th>Approve</th>
        <th>Payment</th>
        <th>Reference</th>
        <th>Date</th>
        <th>Name</th>
        <th>Description</th>
        <th>Amount</th>
        <th>Remarks</th>
        <% if has_any_role? :sa, :admin, :manager %>
            <th>Request By</th>
        <% end %>
        <th>Pay Date</th>

        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <% i=1 %>
      <% @transactions.each do |transaction| %>
          <tr>
            <td><%= i %></td>
            <td>
              <% if has_any_role? :sa, :employee %>
                  <%= transaction.approve_status ? image_tag('tick.gif') : image_tag('cross.gif') %>
              <% else %>
                  <%= link_to_active(transaction, approve_transaction_path(transaction)) %>
              <% end %>
            </td>
            <td>
              <% if has_any_role? :sa, :employee, :admin, :manager %>
                  <%= transaction.fund_status ? image_tag('tick.gif') : image_tag('cross.gif') %>

              <% else %>
                  <%# link_to_active_pay(transaction, approve_pay_transaction_path(transaction)) %>
              <% end %>
            </td>
            <td><%= highlight(transaction.transaction_number, params[:search]) %></td>
            <td><%= transaction.transaction_date? ? transaction.transaction_date.strftime("%d-%m-%y") : "N.A" %></td>
            <td><%= truncate(transaction.name, :length => 10) %></td>
            <td><%= truncate(transaction.description, :length => 10) %></td>
            <td align="right"><%= number_with_precision(transaction.request_amount, :precision => 2) %></td>
            <td><%= transaction.remarks? ? (link_to "View", "#", :class => "tipTipRight", :title => transaction.remarks) : "N.A" %></td>
            <% if has_any_role? :sa, :admin, :manager %>
                <td><%= get_user(transaction) %></td>
            <% end %>
            <td><%= transaction.payment_date? ? transaction.payment_date.strftime("%d-%m-%y") : "N.A" %></td>

            <td>
              <%= link_for_show_pop(transaction) %>
              <% if transaction.fund_status? %>
              <% else %>
                  <%= link_for_edit(edit_transaction_path(transaction)) if has_role?(:manager) %>
              <% end %>
            </td>
          </tr>
          <% i = i + 1 %>
      <% end %>
      </tbody>
    </table>
    <div class="flickr_pagination">
      <%= page_entries_info @transactions %> <%= will_paginate @transactions, :container => false %>
    </div>
<% end %>