<ul class="page_menu">
  <% if has_any_role? :sa,:manager,:admin %>
    <li><%= tab_heading 'Dashboard' %>
    <ul>
      <li>
        <%= link_to 'Login Users', users_path,:class=>"tipTip1",:title=>"Manage Login Users" %>
      </li>
      <li>
        <%= link_to 'Roles', roles_path,:class=>"tipTip1",:title=>"Manage Roles" %>
      </li>
      <li>
        <%= link_to 'States', states_path,:class=>"tipTip1",:title=>"Manage States" %>
      </li>

    </ul>
  </li>
   <li><%= tab_heading 'Accounts' %>
    <ul>
      <li>
        <%= link_to 'Manage Accounts', accounts_path,:class=>"tipTip1",:title=>"Manage Accounts" %>
      </li>
    </ul>
  </li>
  <% end %>
    <li><%= tab_heading 'Requests' %>
    <ul>
      <li>
        <%= link_to 'Manage Requests', transactions_path,:class=>"tipTip1",:title=>"Manage Requests" %>
      </li>
    </ul>
  </li>
</ul>

