<% title "VEDAVAAG | Accounts" %>
<h3>VEDAVAAG | Accounts | Manage Accounts</h3>

<% content_for :left_panel do %>
    <td valign="top" width="250"> <%= render 'common/search' %>
      <%= render 'recent' %> </td>
<% end %>
<div class="help_text">
  Area for managing Accounts. <br/>
  Along with creating, managing Accounts<br/>
</div>
<div class="link_buttons">
  <%= link_to content_tag(:span, 'New Account'), new_account_path, :class => 'btn-blue' %>
  <%= link_to content_tag(:span, 'Accounts Home'), accounts_path, :class => 'btn-yellow' %>

</div>

<div id="new_form">
  <%= render 'upload' %>
</div>
<% if @accounts.blank? %>
    <div class="error_msg">
      OOPS!.. No Accounts are Found in the System..!
    </div>
<% else %>
    <table width="100%">
      <tr>
        <td align="right">
          <b><i>per page</i></b>
          <%= per_page %>| <%= page_entries_info @accounts %>
        </td>
      </tr>
    </table>
    <table class="tablesorter">
      <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Account</th>
        <th>Bank</th>
        <th>Branch</th>
        <th>IFSC</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <% i=1 %>
      <% @accounts.each do |account| %>
          <tr>
            <td><%= i %></td>
            <td><%= highlight(account.name.titleize,params[:search]) %></td>
            <td><%= highlight(account.account_number,params[:search]) %></td>
            <td><%= account.bank_name? ? account.bank_name.upcase : "N.A" %></td>
            <td><%= account.branch_name? ? account.branch_name.titleize : "N.A" %></td>
            <td><%= account.ifsc %></td>
            <td>
              <%= link_for_show_pop(account) %>
              <%=  link_for_edit(edit_account_path(account)) %>
              <%= link_for_destroy(account) %>
            </td>
          </tr>
          <% i = i + 1 %>
      <% end %>
      </tbody>
    </table>
    <div class="flickr_pagination">
      <%= page_entries_info @accounts %> <%= will_paginate @accounts, :container => false %>
    </div>
<% end %>








